<header th:fragment="top" xmlns:th="http://www.thymeleaf.org">

    <nav aria-label="breadcrumb" class="row ">
        <span class="d-flex float-left col-6 flex-nowrap">
            <img src="/img/RIT_B.png" width="100" height="100" alt="RollinLogo">
            <h2 class="mt-2">Roll'in Web</h2>
        </span>
        <ol class="breadcrumb float-right col-6 breadcrumb-custom">
            <li class="breadcrumb-item breadcrumb-custom ml-auto"><a href="/">Home</a></li>
            <li class="breadcrumb-item breadcrumb-custom"><a href="/gamers">Gamers</a></li>
            <li class="breadcrumb-item breadcrumb-custom mr-4"><a href="/parties">Parties</a></li>
        </ol>
    </nav>

</header>