<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gamer List</title>
    <link rel="shortcut icon" type="imglogodice.png" th:href="@{/img/d20-green-logo.png}" />

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">

    <link href="../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<header th:replace="fragments/header.html :: top"></header>
<style>
    table {
        border-collapse: collapse;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th, td {
        border-bottom: 1px solid #ddd;
        padding: 10px 5px;
        text-align: left;
    }
</style>
<body>
<h3>Gamers</h3>
<a href="/gamer">Add a new gamer !</a>
<br><br>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Pseudo</th>
        <th>Birthday</th>
        <th>Living place</th>
        <th>A little word?</th>
        <th>Noob</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="gamer : ${gamers}">
        <td th:text="${gamer.id}">id</td>
        <td th:text="${gamer.firstName}">first name</td>
        <td th:text="${gamer.lastName}">last name</td>
        <td th:text="${gamer.pseudo}">pseudo</td>
        <td th:text="${gamer.birthday}">birthday</td>
        <td th:text="${gamer.livesIn}">living place</td>
        <td th:text="${gamer.biography}">A little word?</td>
        <td th:text="${gamer.noob}">noob</td>
        <td><a th:href="@{/gamer(id=${gamer.id})}">Edit</a></td>
        <td><a th:href="@{/gamer/delete(id=${gamer.id})}">Remove</a></td>
    </tr>
    </tbody>
</table>
<br>
<a href="/">Return to the index</a>
</body>
</html>