<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gamer</title>
    <link rel="shortcut icon" type="imglogodice.png" th:href="@{/img/d20-green-logo.png}" />

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">

    <link href="../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="fragments/header.html :: top"></header>
<h3 th:text="${gamer.id} ? 'Edit Gamer' : 'Create Gamer'">Wizard</h3>
<form method="post" th:action="@{/gamer}" th:object="${gamer}">
    <input name="id" th:field="*{id}" type="hidden">
    <label for="gamer-first-name">First name:</label>
    <input id="gamer-first-name" name="firstName" placeholder="Aragorn" required th:field="*{firstName}" type="text">
    <br><br>
    <label for="gamer-last-name">Last name:</label>
    <input id="gamer-last-name" name="lastName" placeholder="Johnson" required th:field="*{lastName}" type="text">
    <br><br>
    <label for="gamer-birthday">Birthday:</label>
    <input id="gamer-birthday" name="birthday" placeholder="1881-07-31" required th:field="*{birthday}" type="date">
    <br><br>
    <label for="gamer-living-place">Where do you live?</label>
    <input id="gamer-living-place" name="birthPlace" placeholder="Coruscant" th:field="*{livesIn}" type="text">
    <br><br>
    <label for="gamer-biography">Biography:</label>
    <textarea id="gamer-biography" name="Un petit mot?" th:field="*{biography}"></textarea>
    <br><br>
    <label for="gamer-is-noob">Are you a newbie in Rpg tabletop games?(not so awful, don't worry)</label>
    <input id="gamer-is-noob" name="noob" th:field="*{noob}" type="checkbox">
    <br><br>
    <input type="submit" value="Send">
</form>
<br>
<a href="/gamers">Return to the list</a>
</body>
</html>